html, body {
    overflow-x: hidden
}

body {
    font: 13px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    position: relative;
}

body > .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #398aff;
    z-index: 999999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

body > .preloader > span {
    position: absolute;
    top: 50%;
    left: 50%;
    /*background-image: url(../svg/2.svg);*/
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 23em;
    height: 8em;
    background-position: 50%;
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms 200ms ease-in-out;
    -o-transition: all 500ms 200ms ease-in-out;
    transition: all 500ms 200ms ease-in-out;
}

/*body > .preloader > span.active {
    opacity: 1;
    visibility: visible;
}
*/
/*body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
   
    background-image: url(../img/back.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    background-position: 50%;
    z-index: -1;
    
}*/

body > header {
    display: block;
    width: 100%;
    background-color: #398aff;
    position: relative;
    z-index: 2;
}

body > header > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90%;
    margin: 0px auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

body > header > div.mob {
    display: none;
}

body > div.mob-menu {
    display: none;
}

body > header > div > .logo {
    display: block;
    /*background-image: url(../svg/2.svg);*/
    -webkit-background-size: 78% 78%;
            background-size: 78%;
    background-repeat: no-repeat;
    background-position: 28% 50%;
    width: 11.6em;
    height: 5em;
}

body > header > div > .center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 6.3em;
}

body > header > div > .center > a {
    color: #fff;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.15em;
    margin-right: 1.9em;
    letter-spacing: 0.02em;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

body > header > div > .center > a:hover {
    color: #ffb126
}

body > header > div > .center > a:last-of-type {
    margin-right: 0;
}

body > header > div > .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

body > header > div > .social > a {
    width: 2.35em;
    height: 2.35em;
    -webkit-background-size: 67% 67%;
            background-size: 67%;
    background-repeat: no-repeat;
    background-position: 50%;
    display: block;
    margin-right: 0.73em;
    background-color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

body > header > div > .social > a:hover {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-13%);
}

body > header > div > .social > a.google {
    /*background-image: url(../svg/5.svg);*/
    -webkit-background-size: 55% 55%;
            background-size: 55%;
}

body > header > div > .social > a.twitter {
    /*background-image: url(../svg/4.svg);*/
    -webkit-background-size: 64% 64%;
            background-size: 64%;
}

body > header > div > .social > a.lin {
    /*background-image: url(../svg/8.svg);*/
    -webkit-background-size: 58% 58%;
            background-size: 58%;
}

body > header > div > .social > a.inst {
    /*background-image: url(../svg/3.svg);*/
    -webkit-background-size: 57% 57%;
            background-size: 57%;
}

body > header > div > .social > a.fb {
    /*background-image: url(../svg/7.svg);*/
    -webkit-background-size: 27% 27%;
            background-size: 27%;
}

body > header > div > .social > a.yt {
    /*background-image: url(../svg/6.svg);*/
    -webkit-background-size: 53% 53%;
            background-size: 53%;
}

body > header > div > .social > a:last-of-type {
    margin: 0;
}

body > article.main {
    display: table;
    margin: 0px auto 2.5em;
    width: 90%;
    padding-top: 3.5em;
}

body > article.main > section > .title-1 {
    margin-bottom: 0.57em;
    position: relative;
    display: table;
    margin: 0px auto 0.47em;
    overflow: hidden;
}

body > article.main > section > .title-1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #398aff;
  -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

body > article.main > section > .title-1 .line1 { 
  top: 0; 
  left: 0;
}

body > article.main > section > .title-1 > span {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #282c44;
    font-weight: 500;
    font-size: 3.23em;
    letter-spacing: 0.004em;
}

body > article.main > section > .title-1 > span > span {
    font-weight: 400;
}

body > article.main > section > .title-1 > span > span:nth-child(n+33) {
    font-weight: 300;
}

body > article.main > section > .btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 61%;
    margin: 0px auto 3.5em;
}

body > article.main > section > .btns > div.block-1 {
    display: block;
    padding: 0 1.3em;
}

body > article.main > section > .btns > div > span {
    display: block;
    text-align: center;
    font-size: 1.15em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #9299b9;
    letter-spacing: 0.015em;
    margin-bottom: 0.8em;
}

body > article.main > section > .btns > div > a {
    display: table;
    margin: 0px auto;
    color: #fff;
    background-color: #00c287;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.06em;
    font-size: 1.15em;
    padding: 1em 1.9em;
    -webkit-border-radius: 1.8em;
    border-radius: 1.8em;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

body > article.main > section > .btns > div > a:hover {
    -webkit-box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
            box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
    background-color: #02b57f;
}

body > article.main > section > .btns > div > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0px auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 65%;
    padding: 0.2em 0.3em;
    height: 3.1em;
    border: 1px solid #ffb126;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

body > article.main > section > .btns > div > div:hover {
    -webkit-box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
            box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
}

body > article.main > section > .btns > div > div > input {
    padding: 0.6em 0.1em 0.6em 1.9em;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    font-weight: 300;
    font-size: 1.05em
}

body > article.main > section > .btns > div > div > input::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #c4c9dd;
    font-weight: 300;
    font-size: 1.05em
}

body > article.main > section > .btns > div > div > input::-moz-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #c4c9dd;
    font-weight: 300;
    font-size: 1.05em
}

body > article.main > section > .btns > div > div > input:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #c4c9dd;
    font-weight: 300;
    font-size: 1.05em
}

body > article.main > section > .btns > div > div > input::-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
    color: #c4c9dd;
    font-weight: 300;
    font-size: 1.05em
}

body > article.main > section > .btns > div > div > input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #c4c9dd;
    font-weight: 300;
    font-size: 1.05em
}

body > article.main > section > .btns > div > div> span {
    display: block;
    width: 3em;
    height: 3em;
    /*background-image: url(../svg/10.svg);*/
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-background-size: 55% 55%;
            background-size: 55%;
    background-color: #ffb126;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

body > article.main > section > .btns > div > div> span:hover {
    background-color: #fa8d00;
}

body > article.main > section > .title-2 {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #282c44;
    font-weight: 500;
    font-size: 1.9em;
    letter-spacing: 0.019em;
    opacity: 0;
    transition: all 600ms ease-in-out;
    height:  0;
    overflow: hidden;
    transform: translateY(200%);
}

body > article.main > section > .title-2.active {
    opacity: 1;
    height:  auto;
    transform: translateY(0%);
}

body > article.slider {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 1em;
}

body > article.slider:before {
    content: '';
    position: absolute;
    bottom: 3.8%;
    left: 0.7%;
    /*background-image: url(../img/cup.png);*/
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    width: 16em;
    height: 21em;
}

body > article.slider:after {
    content: '';
    position: absolute;
    bottom: 3.8%;
    right: 0.7%;
    /*background-image: url(../img/leave.png);*/
    -webkit-background-size: contain;
            background-size: contain;
    background-repeat: no-repeat;
    width: 27em;
    height: 38em;
    z-index: -1;
}

body > article.slider > .slide-block {
    display: table;
    margin: 0px auto;
    width: 78%;
}

.bx-wrapper {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 0;
}

.bx-wrapper .bx-controls-direction a {
    top: 6%;
    width: 55px;
    height: 55px;
    /*background-image: url(../svg/1-grey.svg);*/
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: #fff;
    -webkit-box-shadow: 0px 7px 7px -4px rgba(0, 0, 0, .1);
            box-shadow: 0px 7px 7px -4px rgba(0, 0, 0, .1);
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.bx-wrapper .bx-controls-direction a.bx-prev:hover {
    background-color: #f8faff
}

.bx-wrapper .bx-controls-direction a.bx-next:hover {
    background-color: #2f3764   
}

.bx-wrapper .bx-controls-direction a.bx-prev {
    -webkit-transform: rotateZ(180deg);
        -ms-transform: rotate(180deg);
            transform: rotateZ(180deg);
    -webkit-box-shadow: 0px -11px 7px -4px rgba(0, 0, 0, .1);
            box-shadow: 0px -11px 7px -4px rgba(0, 0, 0, .1);
    left: 6%;
}

.bx-wrapper .bx-controls-direction a.bx-next {
    right: 8%;
    /*background-image: url(../svg/1.svg);*/
    background-color: #282c44;
}

.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus {
    background-position: 50%
}

.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus {
    background-position: 50%
}

body > article.slider .bxslider > .slide {
    display: block;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 40.6em;
    cursor: pointer;
}

body > .contact {
    display: table;
    margin: 0px auto 6.3em;
}

body > .contact > .mail {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin:  0px auto;
    width: 53%;
}

body > .contact > .mail > .icon {
    display: block;
    /*background-image: url(../svg/9.svg);*/
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 4.1em;
    height: 2em;
    margin-right: 0;
}

body > .contact > .mail > .text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 0.02em;
}

body > .contact > .mail > .text > a {
    color: #398aff;
}

footer {
    display: none
}

/* Main skins */
/* tablet */
@media only screen and (max-width: 70em) {
}

/* mobile */
@media only screen and (max-width: 991px) {
    body > .preloader > span {
        width: 60%;
    }
    
    body > header > div:first-of-type {
        display: none;
    }

    body > header {
        position: fixed;
        z-index: 999999;
    }

    body > header > div.mob {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 96%;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        z-index: 2;
        position: relative;
    }

    body > header > div.mob > span {
        width: 4em;
        height: 4em;
        display: block;
    }

    body > header > div.mob > a {
        margin: 0px auto;
        width: 11.6em;
        height: 4em;
        background-position: 0 50%;
    }

    body > header > div.mob > span > svg {
        width: 100%;
        height: 100%;
        display: block
    }

    .line {
        fill: none;
        -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        -o-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: #fff;
        stroke-width: 5.5px;
        stroke-linecap: round;
    }

    .hamRotate180.active {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
    }

    .ham5 .top {
        stroke-dasharray: 40 82;
    }

    .ham5 .bottom {
        stroke-dasharray: 40 82;
    }

    .ham5.active .top {
        stroke-dasharray: 14 82;
        stroke-dashoffset: -72px;
    }

    .ham5.active .bottom {
        stroke-dasharray: 14 82;
        stroke-dashoffset: -72px;
    }

    body > div.mob-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: fixed;
        top: -200%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #fff;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: all 500ms ease-in-out;
        -o-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
        z-index: 99999;
    }

    body > div.mob-menu.active {
        top: 0;
    }

    body > div.mob-menu > div {
        display: table;
        width: 100%;
    }

    body > div.mob-menu > div > a {
        color: #ffb126;
        font-family: 'Roboto', sans-serif;
        display: table;
        text-align: center;
        margin: 0px auto 1.6em;
        font-size: 1.7em;
        padding: 0.4em 0.7em;
        -webkit-border-radius: 2em;
                border-radius: 2em;
        background-color: transparent;
        width: 5em;
        -webkit-transition: background-color 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out, -webkit-transform 400ms 500ms ease-in-out;
        transition: background-color 300ms ease-in-out, color 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out, -webkit-transform 400ms 500ms ease-in-out;
        -o-transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out, color 300ms ease-in-out, transform 400ms 500ms ease-in-out;
        transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out, color 300ms ease-in-out, transform 400ms 500ms ease-in-out;
        transition: background-color 300ms ease-in-out, box-shadow 300ms ease-in-out, color 300ms ease-in-out, transform 400ms 500ms ease-in-out, -webkit-box-shadow 300ms ease-in-out, -webkit-transform 400ms 500ms ease-in-out;
    }

    body > div.mob-menu > div > a:hover, body > div.mob-menu > div > a.active {
        background-color: #00d695;
        -webkit-box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
                box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
        color: #fff;
    }

    body > div.mob-menu > div > a:first-of-type {
        -webkit-transform: translateX(-160%);
            -ms-transform: translateX(-160%);
                transform: translateX(-160%);
    }

    body > div.mob-menu.active > div > a:first-of-type {
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
    }

    body > div.mob-menu > div > a:last-of-type {
        -webkit-transform: translateX(160%);
            -ms-transform: translateX(160%);
                transform: translateX(160%);
        margin-bottom: 0;
    }

    body > div.mob-menu.active > div > a:last-of-type {
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
    }

    body > div.mob-menu > span {
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        color: #398aff;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-size: 1.7em;
        width: 100%;
        text-align: center;
        padding: 0.5em 0 0.5em 1.5em;
        background-color: #f8f8f8;
    }

    body > div.mob-menu > span:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 40%;
        -webkit-transform: translateY(-50%) translateX(-50%) rotateY(180deg);
                transform: translateY(-50%) translateX(-50%) rotateY(180deg);
        /*background-image: url(../svg/10-blue.svg);*/
        -webkit-background-size: contain;
                background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
        width: 1em;
        height: 1em;
    }

    body > article.main {
        width: 90%;
        margin-top: 3em;
    }

    body > article.main > section > .title-1 {
        display: table;
        margin: 0px auto 1em;
        width: 100%;
    }

    body > article.main > section > .title-1 > span {
        font-size: 1.9em;        
    }

    body > article.main > section > .btns {
        display: table;
        width: 100%;
        margin-bottom: 0em;
    }

    body > article.main > section > .btns > div {
        padding: 0;
        margin-bottom: 3em;
    }

    body > article.main > section > .btns > div > div > input {
        width: 80%;
    }

    body > article.main > section > .title-2 {
        font-size: 1.6em;
        transform: translateY(90%);
    }

    body > article.main > section > .title-2 > span {
        display: block
    }

    body > article.slider:before, body > article.slider:after {
        display: none
    }

    body > article.slider {
        margin-bottom: 4em;
    }

    body > article.slider > .slide-block {
        width: 90%;
    }

    body > article.slider .bxslider > .slide {
        height: 14.6em;
    }

    .bx-wrapper {
        padding-bottom: 5em;
    }

    .bx-wrapper .bx-controls-direction a {
        bottom: 0;
        top: unset;
        width: 45px;
        height: 45px;
    }

    .bx-wrapper .bx-controls-direction a.bx-prev {
        left: 26%;
    }

    .bx-wrapper .bx-controls-direction a.bx-next {
        bottom: 0;
        right: 26%;
    }

    body > .contact {
        margin: 0;
        padding-bottom: 4em;
        width: 100%;
        position: relative;
        overflow-x: hidden;
    }

    body > .contact:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -3%;
        /*background-image: url(../img/cup.png);*/
        -webkit-background-size: contain;
                background-size: contain;
        background-repeat: no-repeat;
        width: 6em;
        height: 9em;
    }

    body > .contact:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -14%;
        /*background-image: url(../img/leave.png);*/
        -webkit-background-size: contain;
                background-size: contain;
        background-repeat: no-repeat;
        width: 13em;
        height: 18em;
        z-index: -1;
    }

    body > .contact > .mail {
        width: 60%;
        margin: 0px auto;
    }

    body > .contact > .mail > .icon {
        display: none;
    }

    body > .contact > .mail > .text {
        font-size: 1.2em;
        padding-bottom: 3em;
        position: relative;
        margin: 0px auto;
    }

    body > .contact > .mail > .text > a{
        display: block;
    }

    body > .contact > .mail > .text:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        /*background-image: url(../svg/9.svg);*/
        -webkit-background-size: contain;
                background-size: contain;
        background-repeat: no-repeat;
        width: 2.7em;
        height: 1.8em;
    }



    footer {
        display: block;
        width: 100%;
        background-color: #f8f8f8;
    }

    footer > div {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin: 0px auto;
        width: 40%;
        padding: 0.7em 0;
    }

    footer > div > a {
        width: 2.35em;
        height: 2.35em;
        -webkit-background-size: 67% 67%;
                background-size: 67%;
        background-repeat: no-repeat;
        background-position: 50%;
        display: block;
        margin-right: 0.73em;
        background-color: #fff;
        -webkit-border-radius: 50%;
                border-radius: 50%;
    }

    footer > div > a.google {
        /*background-image: url(../svg/5.svg);*/
        -webkit-background-size: 55% 55%;
                background-size: 55%;
    }

    footer > div > a.twitter {
        /*background-image: url(../svg/4.svg);*/
        -webkit-background-size: 64% 64%;
                background-size: 64%;
    }

    footer > div > a.lin {
        /*background-image: url(../svg/8.svg);*/
        -webkit-background-size: 58% 58%;
                background-size: 58%;
    }

    footer > div > a.inst {
        /*background-image: url(../svg/3.svg);*/
        -webkit-background-size: 57% 57%;
                background-size: 57%;
    }

    footer > div > a.fb {
        /*background-image: url(../svg/7.svg);*/
        -webkit-background-size: 27% 27%;
                background-size: 27%;
    }

    footer > div > a.yt {
        /*background-image: url(../svg/6.svg);*/
        -webkit-background-size: 53% 53%;
                background-size: 53%;
    }

    footer > div > a:last-of-type {
        margin: 0;
    }
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
}

/*Login button here mychange*/
.Login{
    /*float: center;*/
    /*left: 50%;*/
    /*margin-right: 30px;*/
    margin: 20% 30% 30% 40%;
    /*margin-right: 30px;*/
    /*padding: -25px;*/
    
}

#loginsbutton {
  background-color: #007bff; 
  border-color: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  outline: none;
  padding: 5px 24px;
  border-radius: 50px;
}

/*#loginspan{
    margin-bottom: 20px;
}*/

#loginsbutton:hover {
  
  color: #007bff;
  border-color:  3px solid #007bff;
   -webkit-box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
   box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
   background-color: white;
    /*background-color: #02b57f;*/
  outline: none;
  border-radius: 50px;

}

a{
         text-decoration:none !important;
         }
         h1,h2,h3{
         font-family: 'Kaushan Script', cursive;
         }
        .myform{
        position: relative;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 1.1rem;
        outline: 0;
        max-width: 500px;
         }
         .tx-tfm{
         text-transform:uppercase;

         }
         #logbutton{
          background-color: #007bff;
         border-radius:50px;
         }

         #logbutton:hover{
            box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
            background-color: #0d77e8;
         }

         /*#googlebutton{
            border-color: black;
            border-radius: 50px;
         }*/
         /*#signup{
            border-radius:50px
         }*/
         .mybtn{
         border-radius:50px;
         }
        
         .login-or{
         position: relative;
         color: #aaa;
         margin-top: 10px;
         margin-bottom: 10px;
         padding-top: 10px;
         padding-bottom: 10px;
         }
         .span-or {
         display: block;
         position: absolute;
         left: 50%;
         top: -2px;
         margin-left: -25px;
         background-color: #fff;
         width: 50px;
         text-align: center;
         }
         .hr-or {
         height: 1px;
         margin-top: 0px !important;
         margin-bottom: 0px !important;
         }
         .google {
         color:#666;
         width:100%;
         height:40px;
         text-align:center;
         outline:none;
         border: 1px solid lightgrey;
         }
          form .error {
         color: #ff0000;
         }
         #second{display:none;}

         /* The container */
        .container1 {
          display: block;
          position: relative;
          padding-left: 25px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 14px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        /* Hide the browser's default checkbox */
        .container1 input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 16px;
          width: 16px;
          background-color: #eee;
        }

        /* On mouse-over, add a grey background color */
        .container1:hover input ~ .checkmark {
          background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container1 input:checked ~ .checkmark {
          background-color: #2196F3;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }

        /* Show the checkmark when checked */
        .container1 input:checked ~ .checkmark:after {
          display: block;
        }

        #link{
            color: white;
            font-weight: bold;
        }

        /* Style the checkmark/indicator */
        .container1 .checkmark:after {
          left: 5px;
          top: 2px;
          width: 5px;
          height: 10px;
          border: solid white;
          border-width: 0 3px 3px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        #myModal{
            top: 13%;
            
        }

        #first{
            -webkit-box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
            box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .5);

        }

        #second{
            -webkit-box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .1);
            box-shadow: 0px 11px 13px -2px rgba(0, 0, 0, .5);
        }