* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.mainnav{
  background-color: #f1f1f1;
}

.topnav td {
  text-align: center;
}
.topnav span{
  font-size: 14px;
  color: grey;
  }

.mainnav td{
  border: 0px;
  font-size: 15px;
  color: grey;
  text-align: center;
}

.midnav td{
  text-align: center;
  width: 5px;  
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.title__logo {
  height: 3rem;
  margin: .5rem;
}

.title__text {
  margin-left: 2rem;
}

.title__text--name {
  font-size: 3.6rem;
  display: inline;
  font-weight: 600;
}

.title__text--description {
  font-size: 1.6rem;
  font-weight: 200;
}

.spreadsheet {
  margin-left:  0.5rem;
}

table,
td,
th,
tr {
  border: 0.05rem solid rgba(197, 197, 197, 0.486);
  font-size: 1.4rem;
  height: 2.5rem;
  border-spacing: 0rem;
}

th {
  font-weight: 500;
}

thead {
  /* background-color: rgb(160, 180, 206); */
  background-color: #f1f1f1;
  /* color: #fff; */
}

td {
  min-width: 10rem;
  padding: 0.2rem 0.5rem;
}

th {
  padding: 0.2rem 0.4rem;
}
th > .dropdown {
  float: right;
}

tbody th {
  min-width: 5rem;
  background: #fafafa;
}

/* Dropdown Button */
.dropbtn {
  background-color: #e2e2e2d0;
  color: rgba(0, 0, 0, 0.5);
  padding: 0rem 0.3rem;
  /* /* font-size: 1.2rem; */
  border: none;
  cursor: pointer;
  transition: ease 0.4s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #d0d0d0;
  /* visibility: visible; */
}

.dropbtn img {
  height: 2rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16rem;
  box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: rgb(133, 132, 132);
  padding: 0.4rem;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.column-header-span {
  cursor: pointer;
}

.spreadsheet-controls {
  margin-left: 0.5rem;
}

.reset-btn {
  padding: 0.5rem 1.5rem;
  background-color: #d9534f;
  color: #fff;
  border-color: #d43f3a;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease 0.3s;
}

.reset-btn:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.form-group {
    float:left;
    margin-right: 10px;
}

.background{
  background-color: black;
  height: 200;
}

.project{
  color: grey;
  font-size: 30px;
}

.blank{
  color: white;
  margin-left: 50px;
  font-size: 20px;
  background: transparent;
  border: 0px;
}

.blank2{
  color: white;
  margin-left: 100px;
  font-size: 20px;
}

.file{
  background: transparent;
  border: 0px;
}

.image{
  height:150px; 
  margin-left: 50px;
}
#plus_img:hover {
    transform: scale(1.1);
     
}
#plus_img{
  transition: transform .2s;
}

/*.drop-btn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.drop-btn:hover, .drop-btn:focus {
    background-color: #2980B9;
}*/

.dropdown {
    position: relative;
    display: inline-block;
}

.drop {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 1px;
    overflow: auto;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop-content {
    display: none;
    position: absolute;
    /*background-color: #f1f1f1;*/
    /*min-width: 1px;*/
    /*overflow: auto;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.drop-content button {
    /*color: black;*/
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}


.dropdown button:hover {background-color: #ddd;}

.show {display: block;}

.colorbox td{
  background-color: red; width: 5px; height: 5px;
}

.text {
position:relative;
visibility:hidden;
}

.file:hover .text {
visibility:visible;
}

#rightclicked{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
/*    padding: 12px 16px;
*/    z-index: 1;
}

#content{
  margin: 0px; 
  padding: 0px; 
  text-align: left; 
  list-style-type: none; 
  text-indent: 0px ; 
  color: black;
}

#content :hover {background-color: #f1f1f1}

#content:hover  {
    display: block;
}

