* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;


}

.mainnav{
  background-color: #f1f1f1;
}

.topnav td {
  text-align: center;
}
.topnav span{
  font-size: 14px;
  color: grey;
  }

.mainnav td{
  border: 0px;
  font-size: 15px;
  color: grey;
  text-align: center;
}

.midnav td{
  text-align: center;
  width: 5px;  
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem;
}

.title__logo {
  height: 3rem;
  margin: .5rem;
}

.title__text {
  margin-left: 2rem;
}

.title__text--name {
  font-size: 3.6rem;
  display: inline;
  font-weight: 600;
}

.title__text--description {
  font-size: 1.6rem;
  font-weight: 200;
}

.spreadsheet {
  margin-left:  0.5rem;
}

.spreadsheet table,
.spreadsheet td,
.spreadsheet th,
.spreadsheet tr {
  border: 0.05rem solid rgba(197, 197, 197, 0.486);
  font-size: 1.4rem;
  height: 2.5rem;
  border-spacing: 0rem;
}

/*th {
  font-weight: 500;
}*/

/*thead {
   background-color: rgb(160, 180, 206); 
  background-color: #f1f1f1;*/
  /* color: #fff; */
/*}*/

.midnav table,
.midnav td,
.midnav th,
.midnav tr {
  border: 0.05rem solid rgba(197, 197, 197, 0.486);
  font-size: 1.4rem;
  height: 2.2rem;
  border-spacing: 0rem;
}


.midnav td {
  min-width: 12rem;
  padding: 0.2rem 0.5rem;
  margin-top: 6px;
  margin-bottom: 6px;
}

.topnav table,
.topnav td,
.topnav th,
.topnav tr {
  border: 0.05rem solid rgba(197, 197, 197, 0.486);
  font-size: 1.4rem;
  height: 2.5rem;
  border-spacing: 0rem;
}


.topnav td {
  min-width: 15rem;
  padding: 0.2rem 0.5rem;
  margin-top: 6px;
  margin-bottom: 6px;
}

.spreadsheet td{
  min-width: 10rem;
  padding: 0.2rem 0.5rem;
  margin-top: 6px;
  margin-bottom: 6px;
}

#h {
  padding: 0.2rem 0.4rem;
}
#h > .dropdown {
  float: right;
}

tbody #h {
  min-width: 5rem;
  background: #fafafa;
}

/* Dropdown Button */
.dropbtn {
  background-color: #e2e2e2d0;
  color: rgba(0, 0, 0, 0.5);
  padding: 0rem 0.3rem;
  /* /* font-size: 1.2rem; */
  border: none;
  cursor: pointer;
  transition: ease 0.4s;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #d0d0d0;
  /* visibility: visible; */
}

.dropbtn img {
  height: 2rem;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16rem;
  box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: rgb(133, 132, 132);
  padding: 0.4rem;
  font-weight: 400;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.column-header-span {
  cursor: pointer;
}

.spreadsheet-controls {
  margin-left: 0.5rem;
}

.reset-btn {
  padding: 0.5rem 1.5rem;
  background-color: #d9534f;
  color: #fff;
  border-color: #d43f3a;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: ease 0.3s;
}

.reset-btn:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}

.form-group {
    float:left;
    margin-right: 10px;
}

.background{
  background-color: black;
  height: 200;
}

.project{
  color: grey;
  font-size: 30px;
}

.blank{
  color: white;
  margin-left: 50px;
  font-size: 20px;
  background: transparent;
  border: 0px;
}

.blank2{
  color: white;
  margin-left: 100px;
  font-size: 20px;
}

.file{
  background: transparent;
  border: 0px;
}

.file1{
  border: 0px;
}

.image{
  height:150px; 
  margin-left: 50px;
}
#plus_img:hover {
    transform: scale(1.1);
     
}
#plus_img{
  transition: transform .2s;
}

/*.drop-btn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.drop-btn:hover, .drop-btn:focus {
    background-color: #2980B9;
}*/

.dropdown {
    position: relative;
    display: inline-block;
}

.drop {
    position: relative;
    display: inline-block;
}

.drop1 {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.drop-content {
    display: none;
    position: absolute;
    /*background-color: #f1f1f1;*/
    /*min-width: 1px;*/
    /*overflow: auto;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}
.drop1-content {
    display: none;
    position: absolute;
    /*background-color: #f1f1f1;*/
    /*min-width: 1px;*/
    /*overflow: auto;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.drop-content button {
    /*color: black;*/
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}

.drop1-content button {
    /*color: black;*/
    /*padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}


.dropdown button:hover {background-color: #ddd;}



.show {display: block;}

.colorbox td{
  background-color: red; width: 5px; height: 5px;
}

#caps{
  text-align: center;
  width: 15px
}

/*.calender{
  background: url(img/calendar.svg) no-repeat;

}*/

#li{
  margin-left:20px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.text {
position:relative;
visibility:hidden;
}

.file:hover .text {
visibility:visible;
}

/*.container{
  display: inline-block;
  width:80px;
  margin-left: 10px; 
}*/

.skill + .exp {
  opacity: 0;
  transition: opacity 1s;
}
.skill:hover + .exp {
  opacity: 1;
}

#myDIV {
    width: 50%;
    padding: 50px 0;
    margin-right: 50%;
    text-align: center;
    background-color: lightblue;
    
}

/**
 * Zabuto Calendar
 */

div.zabuto_calendar {
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table th,
div.zabuto_calendar .table td {
    padding: 4px 2px;
    text-align: center;
}

div.zabuto_calendar .table tr th,
div.zabuto_calendar .table tr td {
    background-color: #ffffff;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    background-color: #fafafa;
}

div.zabuto_calendar .table tr.calendar-month-header th span {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 10px;
}

div.zabuto_calendar .table tr.calendar-dow-header th {
    background-color: #f0f0f0;
}

div.zabuto_calendar .table tr:last-child {
    border-bottom: 1px solid #dddddd;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    padding-top: 12px;
    padding-bottom: 4px;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th {
    border-left: 0;
    border-right: 0;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th:first-child {
    border-left: 1px solid #dddddd;
}

div.zabuto_calendar div.calendar-month-navigation {
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

div.zabuto_calendar tr.calendar-dow-header th,
div.zabuto_calendar tr.calendar-dow td {
    width: 14%;
}

div.zabuto_calendar .table tr td div.day {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* actions and events */
div.zabuto_calendar .table tr td.event div.day,
div.zabuto_calendar ul.legend li.event {
    background-color: #fff0c3;
}

div.zabuto_calendar .table tr td.dow-clickable,
div.zabuto_calendar .table tr td.event-clickable {
    cursor: pointer;
}

/* badge */
div.zabuto_calendar .badge-today,
div.zabuto_calendar div.legend span.badge-today {
    background-color: #357ebd;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event,
div.zabuto_calendar div.legend span.badge-event {
    background-color: #ff9b08;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event {
    font-size: 0.95em;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}

/* legend */
div.zabuto_calendar div.legend {
    margin-top: 5px;
    text-align: right;
}

div.zabuto_calendar div.legend span {
    color: #999999;
    font-size: 10px;
    font-weight: normal;
}

div.zabuto_calendar div.legend span.legend-text:after,
div.zabuto_calendar div.legend span.legend-block:after,
div.zabuto_calendar div.legend span.legend-list:after,
div.zabuto_calendar div.legend span.legend-spacer:after {
    content: ' ';
}

div.zabuto_calendar div.legend span.legend-spacer {
    padding-left: 25px;
}

div.zabuto_calendar ul.legend > span {
    padding-left: 2px;
}

div.zabuto_calendar ul.legend {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar ul.legend li {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 5px;
}

div.zabuto_calendar ul.legend
div.zabuto_calendar ul.legend li:first-child {
    margin-left: 7px;
}

div.zabuto_calendar ul.legend li:last-child {
    margin-right: 5px;
}

div.zabuto_calendar div.legend span.badge {
    font-size: 0.9em;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
}

/* responsive */
@media (max-width: 979px) {
    div.zabuto_calendar .table th,
    div.zabuto_calendar .table td {
        padding: 2px 1px;
    }
}

#rightclicked{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
/*    padding: 12px 16px;
*/    z-index: 1;
}

#content{
  margin: 0px; 
  padding: 0px; 
  text-align: left; 
  list-style-type: none; 
  text-indent: 0px ; 
  color: black;
}

#content :hover {background-color: #f1f1f1}

#content:hover  {
    display: block;
}

/*#spreadsheethide{
height:100vh; 
overflow-x: scroll;
}*/

#date{
  width: 100px;
  border: 0;
}

.form-control::-webkit-calendar-picker-indicator {
  opacity:0;
}

.form-control {
  position:relative;  
}

.form-control:before {
  content: "\f073";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:absolute;
  right:11px;
  top:50%;
  transform:translateY(-50%);
}

.file {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

.file .tooltiptext {
    visibility: hidden;
    /*width: 35px;*/
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    /*padding: 1px 0;*/
    /*height: 25px; */

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 300%; 
    margin-left: -60px

}

.file:hover .tooltiptext {
    visibility: visible;
}

#myrow1{
  background-color: grey;
}

#myrow1 td{
  color: white;
}

  input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#table-main td.selected {
  outline: 1px solid blue;
}

