<div class="topper">
  
        <span style="float: right; padding: 5px;">
            <img src="../../assets/img/notification.svg">
            <img src="../../assets/img/user-png-12.png" style="height: 15px; width: auto; border-radius: 25px; margin-right: 30px;">
          </span>
  </div>
  <section >
  <div>    
    <div class="top">
            <div class="top-row" >
              <div id="myRow">
              <!-- <div class="top-cell1">
                <img src="img/logo.png" style="height:20px; width:20px;"
                  alt="sheets"
            class="title__logo">
                 <span>ALL</span> 
              </div> -->
              <div class="top-cell">
                 <img src="../../assets/img/dots.svg">
              </div>
              <div class="top-cell" >
                  <span>New Project</span>
              </div>
            </div>

              <!-- <div id="myRow"></div> -->
              <div class="top-cell">
                
                 <button class="file2" type="submit" onclick="getValue();"><img src="../../assets/img/Group 3.svg"></button>
              </div>
              <div class="top-cell">
                 <img src="../../assets/img/menu.svg">
              </div>
              <!-- <div class="top-cell2"></div> -->
            </div>
          </div>  
          <div class="down">
            <div class="down-row">
              <div class="down-cell">
                 <span style="margin-left: 15px;">File</span>
              </div>
              <div class="down-cell">
                 <button class="file" id="home">Home</button>
              </div>
              <div class="down-cell">
                  <div class="down-cell1">
                   <button  style=" margin-top:5px ; margin-left: 50px; background-color: #398AFF; border: 0px; border-radius: 1px; color: white; width: 75px; height: 21px;"><img src="../../assets/img/share.svg"> Share</button>
              </div>
              </div>
              
            </div>
          </div>
          
<!--     <table class="mainnav">
      <tr>
        <td style="width: 70px">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">File
            <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><a tabindex="-1" href="#">Open</a></li>
                  <li><a tabindex="-1" href="#">New</a></li>
                  <li><a tabindex="-1" href="#">Save</a></li>
                  <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Save as<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">PDF</a></li>
                        <li><a tabindex="-1" href="#">Excel</a></li>
                      </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a class="test" tabindex="-1" href="#">Import<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" href="#">Excel</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
        </td>
        <td>Home</td>
        <td style="width: 100%"></td>
      </tr>
    </table> -->
    <div class="mid">
    <div class="mid-row">
   
    <div class="mid-cell1">
      <div class="mid-cell2">
       <button class="file" id="save" onclick="saveit(); "><span class="tooltiptext">Save</span><img src="../../assets/img/save.svg" class="savebutton">  </button>
      </div>
      <div class="mid-cell2">
        <button class="file" id="print" onclick="myprint();"><span class="tooltiptext">Print</span><img src="../../assets/img/print.svg" class="savebutton"></button>
      </div>
    </div>
    <div class="mid-cell" style="word-spacing: 8px;">
     <!-- <input  class="file" type="image"  src="img/sheet.svg" > -->  
                    <div class="mid-cell3">
                    <button class="file"><span class="tooltiptext">Sheet</span><img src="../../assets/img/sheet.svg" class="savebutton" ></button></div>
                    <div class="mid-cell3">
                    <button class="file" id="planner" onclick="planner();"><span class="tooltiptext">Planner</span><img src="../../assets/img/planner.svg " class="savebutton"></button></div>
                    <div class="mid-cell3">
                    <button class="file"><span class="tooltiptext">Gantt</span><img src="../../assets/img/gantt.svg" class="savebutton"></button></div>
                    <div class="mid-cell3">
                    <button class="file"><span class="tooltiptext">Calender</span><img src="../../assets/img/calendar.svg" class="savebutton" ></button></div>
                    <!-- <input class="file" type="image" src="img/planner.svg" onclick="planner();" >
                    <input class="file" type="image" src="img/gantt.svg" >
                    <button class="file" id="button"><img src="img/calendar.svg"></button>     -->
    </div>
    <div class="mid-cell">
      <div class="mid-cell4">
      <button class="file" onclick="document.execCommand('undo',false,null);"><img src="../../assets/img/backward.svg" ></button>
    </div>
    <div class="mid-cell4">
                    <button class="file" onclick="document.execCommand('redo',false,null);"><img src="../../assets/img/forward.svg" ></button>
                  </div>
                  <div class="mid-cell4">
                    <button class="file" id="painter" ><img  src="../../assets/img/paint.svg" class="savebutton"></button>
                  </div>
    </div>
     <div class="mid-cell" style="word-spacing: 5px;">
        <div class="mid-cell4">
        <button class="file" onclick="document.execCommand('justifyRight',false,null);"><img src="../../assets/img/Left Indent.svg" class="savebutton"></button>
      </div>
      <div class="mid-cell4">
                    <button class="file" onclick="document.execCommand('justifyLeft',false,null);"><img src="../../assets/img/Right Indent.svg" class="savebutton"></button>
                  </div>
    </div>
    <div class="mid-cell">
       <select  id="sel1" onchange="changeSize(this);">
                       <option id="six">6</option>
                      <option id="seven">7</option>
                      <option id="8">8</option>
                      <option id="9">9</option>
                      <option id="10">10</option>
                      <option id="11">11</option>
                      <option id="12">12</option>
                      <option id="14">14</option>
                      <option id="16">16</option>
                      <option id="18">18</option>
                      <option id="24">24</option>
                      <option id="36">36</option>
                      <!-- <input id="else" type="text" value="40" style="display: none; height: 15px; width: 30px;"> -->
                    </select>
                
    </div>
    <div class="mid-cell" style="word-spacing: 4px;">
      <div class="mid-cell4">
      <button class="file" id="jBold" onclick="bold();"><img src="../../assets/img/bold.svg" class="savebutton"><!-- <p class="text">Bold</p> --></button>
    </div>
    <div class="mid-cell4">
                    <button class="file" onclick="italic();"><img src="../../assets/img/italic.svg" class="savebutton"></button>
                  </div>
    <div class="mid-cell4">
                    <button class="file" onclick="strikethrough();"><img src="../../assets/img/strikethrough.svg" class="savebutton"></button>
                  </div>
                  <div class="mid-cell4">
                    <button id="change_color" class="favcolor file" style="position: relative; left: -5px; bottom: -2px; color: grey"><span class="glyphicon glyphicon-text-color" id="fonttext"></span>
                   </button>
                 </div>
                   
    </div>
    <div class="mid-cell">
      <div class="mid-cell5">
        <button class=" file" id="favcolor1" >
      <img src="../../assets/img/text fill.svg" ></button></div>
      <div class="mid-cell5">        
                <img src="../../assets/img/arrow_2.svg" class="favcolor1"></div>
                <div class="mid-cell5">
                    <button class="file" ><span class="tooltiptext">Table</span><img src="../../assets/img/table.svg"></button></div>
                     <div class="mid-cell3">
                    <div class="drop1">
                      <button class="dr-btn1 file" onclick="myFunction3()"><img src="../../assets/img/arrow_2.svg"> </button>
                      <div id="my-Dropdown1" class="drop1-content" >
                          <button onclick="paintMatrix5();"><span  style="color: grey height:15px;"><img class="savebutton" src="../../assets/img/table_border.png"></span></button>
                          <button onclick="paintMatrix6();"><span  style="color: grey height:15px; width:5px;"><img class="savebutton" src="../../assets/img/table.png" ></span></button>
                         <button onclick="paintMatrix();"><span  style="color: grey height:15px;"><img class="savebutton" src="../../assets/img/border-to.png"></span></button>
                        <button onclick="paintMatrix2();"><span  style="color: grey height:15px;"><img class="savebutton" src="../../assets/img/border-bott.png"></span></button> 
                        <button onclick="paintMatrix3();"><span  style="color: grey height:15px;"><img class="savebutton" src="../../assets/img/border-right.png"></span></button>  
                        <button onclick="paintMatrix4();"><span  style="color: grey height:15px;"><img class="savebutton" src="../../assets/img/border-left.png"></span></button>
                        
                      </div>
                    </div> 
                  </div>
                 
  </div>
  <div class="mid-cell">
    <div class="mid-cell6">
       <button class="file" onclick="document.execCommand('justifyCenter',false,null);"><img src="../../assets/img/alignment.svg" class="savebutton"></button>
     </div>
       <div class="mid-cell5">
                    <div class="drop">
                      <button class="dr-btn file" onclick="myFunction2()"><img src="../../assets/img/arrow_2.svg" ></button>
                      <div id="my-Dropdown" class="drop-content" >
                         <button onclick="document.execCommand('justifyCenter',false,null);" ><span class="glyphicon glyphicon-align-right" style="color: grey height:15px;"></span></button>
                        <button onclick="document.execCommand('justifyRight',false,null);"><span class="glyphicon glyphicon-align-right" style="color: grey height:15px;"></span></button>
                        <button onclick="document.execCommand('justifyLeft',false,null);"><span class="glyphicon glyphicon-align-left" style="color: grey"></span></button>
                      </div>
                    </div>
                  </div>


              <!--   <div class="row" >
                  <div class="col-sm-4"> <button onclick="document.execCommand('justifyCenter',false,null);" ><span class="glyphicon glyphicon-align-right" style="color: grey height:15px;"></span></button></div>
                  <div class="col-sm-4"> <button onclick="document.execCommand('justifyRight',false,null);"><span class="glyphicon glyphicon-align-right" style="color: grey height:15px;"></span></button></div>
                  <div class="col-sm-4"> <button onclick="document.execCommand('justifyLeft',false,null);"><span class="glyphicon glyphicon-align-left" style="color: grey"></span></button></div>
                </div> -->
                    
                       
                       
                    <!-- <img src="img/arrow_2.svg"> -->
                    <div class="mid-cell5">
                    <button class="file" onclick="textwrap();"> <img src="../../assets/img/Text Warp.svg" class="savebutton"></button></div>
                    <div class="mid-cell3">
                     <div class="drop2">
                      <button class="dr-btn2 file" onclick="myFunction4()"><img src="../../assets/img/arrow_2.svg" > </button>
                      <div id="my-Dropdown2" class="drop2-content" >
                         <button onclick="overflow();"><span  style="color: grey height:15px;"><img src="../../assets/img/border-bott.png" class="savebutton"></span></button>
                      </div>
                    </div> 
                  </div>
    </div>
    <div class="mid-cell">
      <div class="mid-cell4">
       <img src="../../assets/img/sigma.svg" class="savebutton">
     </div>
    </div>
    <div class="mid-cell">
      <div class="mid-cell4">
       <button class="file"  onclick="addfilter();"><img src="../../assets/img/filter.svg" class="savebutton"></button>
     </div>
    </div>
    <div class="mid-cell7"></div>
    <!-- <div class="mid-cell-Last"></div> -->
</div>

</div>

 
   
  </div>
</section>
       
  <div style="height:815px;width:100%;overflow:auto;">
    <div id="newtable"></div>
    <section class="spreadsheet" id="spreadsheethide">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <table class="spreadsheet__table"
            id="table-main">
            <thead class="spreadsheet__table--headers"
                id="table-headers">
            </thead>
            <tbody class="spreadsheet__table--body"
                id="table-body">
            </tbody>
        </table>
    </section>
    <table class="topnav" id="new" style="position: fixed; top: 867px;" >
        <tr id="myrow1">
            <td style="background-color:  #d9d9d9">
                 <img src="../../assets/img/menu.svg">
                 <button class="file" onclick="CreateTable2();" ><img src="../../assets/img/Group 3.svg"></button>
            </td>
            <!-- <td style="background-color:  #d9d9d9"><span><button>Sheet1</button><img src="img/arrow_2.svg"></span></td>
            <td style="background-color:  #d9d9d9"><span><button ">Sheet2</button><img src="img/arrow_2.svg"></span></td>
            <td style="background-color:  #d9d9d9"><span>Sheet3<img src="img/arrow_2.svg"></span></td> -->
            <td style="width: 100%; background-color:  #d9d9d9"></td>
        </tr>
    </table>
    </div>


   <div id="rightclicked">
      <ul id="content" class="w3-bar-block w3-border">
       <!--  <a href="#"> -->
           <li class="w3-bar-item w3-button" onclick="cutText();"  style="border-top: none; margin-top: -1px; ">
            Cut
          </li>

          <li class="w3-bar-item w3-button" onclick="copytext();">
            Copy
          </li>
        
          <li class="w3-bar-item w3-button" onclick="pastetext();">
            Paste
          </li>
          <li class="w3-bar-item w3-button" onclick="addRow()">
            Insert row 
          </li>
          <li class="w3-bar-item w3-button"  id="insert_col" onclick="addColumn();">
            Insert Column
          </li>
          <!-- <li class="w3-bar-item w3-button" id="insert_cell" onclick="Addcell()">
            Insert Cell
          </li> -->
          <li class="w3-bar-item w3-button" onclick="deleterow()">
            Delete row
          </li>
          <li class="w3-bar-item w3-button" id="del_col" onclick="deletecolmn()">
            Delete Column
          </li >
         <li class="dropdown-submenu">
                <a class="test w3-button w3-white" tabindex="-1" href="#">Insert Cell<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" class="w3-bar-item w3-button" onclick="shiftDown();">Shift down</a></li>
                        <li><a tabindex="-1" class="w3-bar-item w3-button" onclick="shiftRight();">Shift right</a></li>
                      </ul>
          </li>
          <li class="dropdown-submenu">
                <a class="test w3-button w3-white" tabindex="-1" href="#">Delete Cell<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" class="w3-bar-item w3-button" onclick="deleteUp();">Shift Up</a></li>
                        <li class="w3-bar-item w3-button" id="del_cell" onclick="deleteLeft(); ">
                          Shift left
                        </li>
                      </ul>
          </li>
          <li class="dropdown-submenu">
                <a class="test w3-button w3-white" tabindex="-1" href="#">Special<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a tabindex="-1" class="w3-bar-item w3-button" onclick="swaptext();">Task Name</a></li>
                        <li><a tabindex="-1" class="w3-bar-item w3-button" onclick="swaptext2();">From</a></li>
                        <li><a tabindex="-1"  class="w3-bar-item w3-button" onclick="swaptext3();">To</a></li>
                        <li><a tabindex="-1"  class="w3-bar-item w3-button" onclick="swaptext4();">CheckBox</a></li>
                        <li><a tabindex="-1"  class="w3-bar-item w3-button" onclick="swaptext5();">Assign To </a></li>
                        <li><a tabindex="-1"  class="w3-bar-item w3-button" onclick="swaptext6();">Status</a></li>
                        <li><a tabindex="-1"  class="w3-bar-item w3-button" onclick="swaptext7();">Comment</a></li>
                      </ul>
          </li>
           <li class="w3-bar-item w3-button" onClick="removeSpecial();"> 
            Remove Special Feature
          </li>
         <!--  <li id="special" style="margin-bottom: 1px;">
            <div class="w3-dropdown-hover">
              <button class="w3-button w3-white">Special </button>
              <div class="w3-dropdown-content w3-bar-block w3-border">
                <a href="#" tabindex="-1" class="w3-bar-item w3-button" onclick="swaptext();">Task Name</a>
                <a href="#" tabindex="-1" class="w3-bar-item w3-button" onclick="swaptext2();createcell();">From</a>
                <a href="#" tabindex="-1" class="w3-bar-item w3-button" onclick="swaptext3();">To</a>
                
              </div>
            </div>
          </li> -->
       <!--  </a>
        <a href="#"> -->
           <!--  </a> -->
      </ul>
    </div>
     
    

<!-- <table class="topnav" style="position: fixed;  top: 870px;" >
  <tr>
    <td style="background-color:  #d9d9d9">
      <img src="../../assets/img/menu.svg">
      <img src="../../assets/img/Group 3.svg">
    </td>
    <td style="background-color:  #d9d9d9"><span>Sheet1<img src="../../assets/img/arrow_2.svg"></span></td>
    <td style="background-color:  #d9d9d9"><span>Sheet2<img src="../../assets/img/arrow_2.svg"></span></td>
    <td style="background-color:  #d9d9d9"><span>Sheet3<img src="../../assets/img/arrow_2.svg"></span></td>
    <td style="width: 100%; background-color:  #d9d9d9"></td>
  </tr>
</table>
 -->

